body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}
#control-painel{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#control{
    width: 100px;
    height: 100px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: ". up ."
                          "l . r"
                          ". d ."  
}
#up{
    grid-area: up;
    width: 100%;
    transform: rotate(180deg);
}
#left{
    grid-area: l;
    width: 100%;
    transform: rotate(90deg);
}
#right{
    grid-area: r;
    width: 100%;
    transform: rotate(-90deg);
}
#down{
    grid-area: d;
    width: 100%;
}
.control-actions{
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-areas: ". . ."
                          "su . r"
                          ". s ."  
}
#shoot{
    grid-area: s;
    width: 100%;
}
#run{
    grid-area: r;
    width: 100%;
}
#super{
    grid-area: su;
    width: 100%;
}
.btn-control{border-radius: 50px;background-color: rgb(237, 237, 241);}
/* Hover está informando o JS para realizar o evento */
.btn-control:active{background-color: rgb(0, 128, 0);}

@media screen and (orientation:portrait) {
    .general-info{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-color: skyblue;
        visibility: visible
    }
    .general-info img{
        padding: 0px;
        margin: 0px;
        width: 90%;
        animation: roate 3s infinite;
    }
    @keyframes roate {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(90deg)}
    
    }
    body{
        visibility: hidden
    }
}

@media screen and (orientation:landscape) {
    .general-info{
        visibility: hidden
    }
    body{
        visibility: visible;
    }
}