#control{
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-areas: ". up ."
                          "l . r"
                          ". d ."  
}
#up{
    grid-area: up;
    width: 100%;
    transform: rotate(180deg);
    background-color: blue;
}
#left{
    grid-area: l;
    width: 100%;
    transform: rotate(90deg);
    background-color: blue;
}
#right{
    grid-area: r;
    width: 100%;
    transform: rotate(-90deg);
    background-color: blue;
}
#down{
    grid-area: d;
    width: 100%;
    background-color: blue;
}