@media screen and (orientation:portrait) {
    .general-info{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        visibility: visible
    }
    .general-info img{
        padding: 0px;
        margin: 0px;
        width: 90%;
        animation: roate 3s infinite;
    }
    @keyframes roate {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(90deg)}
    
    }
    body{
        visibility: hidden
    }
}
/* Game rodará dentro dessa orientação */
@media screen and (orientation:landscape) {
    .general-info{
        visibility: hidden
    }
    body{
        visibility: visible;
    }
}