@media screen and (orientation:portrait) {
    .general-info{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        visibility: visible
    }
    .general-info img{
        padding: 0px;
        margin: 0px;
        width: 90%;
        animation: roate 3s infinite;
    }
    @keyframes roate {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(90deg)}
    
    }
    body{
        visibility: hidden
    }
}
/* Game rodará dentro dessa orientação */
@media screen and (orientation:landscape) {
    html{padding: 0px;margin: 0px;}
    .general-info{
        visibility: hidden
    }
    body{
        padding: 0px;margin: 0px;
        visibility: visible;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas:    "header"
                                "main"
                                "floor"
        ;
    }
    #main-header{
        grid-area: header;
        background-color: springgreen;
        height: 10vh;
    }
    main{
        position: relative;
        height: 90vh;
        grid-area: main;
        overflow-x: scroll;
    }
    .cenario{
        position: absolute;
        width: 8000px;
        height: 90vh;
        background-color:skyblue;
    }
    .floor{
        position: absolute;
        bottom: 0px;
        width: 8000px;
        height: 20vh;
        display: flex;
        justify-content: space-between;
    }
    .floor div{
        background-color: chocolate;
        width: 400px;
        height: 20vh;
    }
   
}